* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*This item allow padding dimesions add to box size*/
}

*, a:focus {
    outline: none;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,latin-ext');


body{
	font-family: 'Open Sans', sans-serif;
	color: #c0c3d6;
	background-image: url(img-assets/body-bg.png);
}

a,li{
	list-style: none;
	text-decoration:none;
}

.main-section{
	height: 870px;
	display: flex;
	width: 1680px;
	margin: 0 auto;

}


header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1680px;
	height: 140px;
	margin: 0 auto;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.menu ul, .lang ul, .social ul{
	display: flex;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}


.menu a:hover,.lang a:hover,.news-count a:hover,.btn-read-more a:hover {
	color: #fecc75;
	transition: 0.5s;
}

.menu a{
	margin: 0 22px;
	color: #c1c4d7;
}

.lang a{
	margin: 0 8px;
	color: #c1c4d7;
}


h1{
	padding: 210px 0 0;
	color: #fefefe;
	font-size: 60px;
	font-weight: 700;
}

h1 span{
	color: #ffcc73;	
}


.main-desc p{
	padding: 40px 0 90px;
	line-height: 1.7;
}

.main-desc{
	padding-left: 256px;
}


.btn{
	background: #ffcc73;
	color: #1f222b;
	text-transform: uppercase;
	line-height: 44px;
	text-align: center;
	margin-top: 92px;
	padding: 10px 40px;
	font-weight: 700;
	font-size: 15px;
}

.btn:hover{
	background: #ffc25d;
}


.main-image{
	width: 50%;
	background: url(img-assets/main-image.png) no-repeat;

}
 

.social a{
	padding-right: 30px;
}

.social{
	position: relative;
	top: 220px;
	left: -256px;
}


.latest-news{
	background: #161922;
	height: 1280px;
}

h2{
	display: flex;
	justify-content: center;
	font-size: 28px;
	color: #ffcc73;
	font-weight: 700;
	padding-top: 150px;
}

.news-desc p{
	padding: 40px 0 80px;
	line-height: 1.7;
	display: flex;
	justify-content: center;
	text-align: center;
}

.news{
	display: flex;
	justify-content: space-between;
}

.news-img{
	width: 100%;
	height: 240px;
	background: #2c3549;
}

.date{
	transform: rotate(-90deg);
	color: #000;
	width: 138px;
	height: 46px;
	background: #ffcc73;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	display: inline-block;
	top: -305px;
	left: -15px;
}

.news-id{
	width: 370px;
	height: 490px;
	background: #1b212f;
}

.news-id:hover{
	box-shadow: 0 0 40px rgba(0,0,0,0.5); /* Параметры тени */
}

.news-title{
	padding: 10px 30px;
}

h3{
	font-weight: 800;
}


.news-count{
	padding: 28px 40px;
	font-size: 12px;
	font-weight: 500;
	display: flex;
	justify-content: flex-end;
}

.news-count a{
	color: #c1c4d7;
}

.news-count ul{
	display: flex;
}

.news-count li{
	padding: 0 8px;
}

.btn-read-more{
	margin: 28px 30px 58px 30px;
	font-weight: 600;
	font-size: 17px;
	width: 150px;
}


.btn-read-more a{
	color: #727995;
	font-weight: 600;
	margin: 0 30px;
}

.btn-read-more:before{
	content: "";
	position: absolute;
	height: 1px;
	width: 20px;
	background: #6f7897;
	margin-top: 0.64%;
}

.btn-read-more:hover:before{
	background: #fecc75;
	transition: 0.5s;
}

.contact-form{
	display: flex;
	padding-top: 150px;
	justify-content: space-around;
}

.form-desc{
	width: 519px;
}

.form-desc span{
	color: #ffcc73;
}

.form-desc p{
	padding-top: 100px;
	font-size: 26px;
	line-height: 1.5;
}

.arrow{
	width: 89px;
	height: 8px;
	margin-top: 200px;
	margin-right: 36px;
	background-image: url(img-assets/arrow.png);
	background-repeat: no-repeat;
}

.form{
	width: 520px;
	height: 575px;
	background: #1b212f;
	padding: 80px 80px;
	box-shadow: 0 0 40px rgba(0,0,0,0.5); /* Параметры тени */
}

.form input{
	padding: 16px 0;
	margin-bottom: 30px;
}


.form textarea{
	height: 80px;
	padding: 10px 0;
	margin-bottom: 30px;
}

.form input,
.form textarea{
	width: 100%;
	box-shadow: none;
	outline: none;
	border: none;
	color: #f7c471;
	background: inherit;
	border-bottom: 1px solid #717895;
}

.form input[type="submit"]{
	border-bottom: none;
	cursor: pointer;
	width: 140px;
	height: 44px;
	background: #ffcc73;
	text-transform: uppercase;
	color: #1f212d;
	margin-bottom: 0;
	font-weight: 600;
}

.form form div{
	position: relative;
}

.form form div label{
	position: absolute;
	top: 10px;
	left: 0;
	color: #717894;
	pointer-events: none;
	transition: .2s;
	font-weight: 600;
}

.form input:focus ~ label,
.form textarea:focus ~ label,
.form input:valid ~ label,
.form textarea:valid ~ label{
	top: -12px;
	left: 0;
	color: #f3c36f;
	font-size: 12px;
}

.form input:focus,
.form textarea:focus,
.form input:valid,
.form textarea:valid{
	border-bottom: 1px solid #ffcc73;
}

.btn-submit{
	display: flex;
	justify-content: flex-end;
}

footer{
	height: 482px;
}

.contacts{
	margin-top: 70px;
	padding: 0 0 45px 40px;
	color: #ffcc73;
}

.contacts li{
	margin:20px 0;
}

.contacts li:before{
	content: "";
	position: absolute;
	height: 1px;
	width: 20px;
	background: #6f7897;
	margin-top: 0.64%;
	left: 369px;
}

.social-footer ul{
	display: flex;
}

.social-footer li{
	padding-right: 30px;
}


.copyright{
	height: 130px;
	background: #161922;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.copyright a{
	color: #6c738d;
}


